body {
    background-color: #FCF8F0;
}

#clove {
    position: relative;
    width: 80%;
    height: 95vh;
    background-color: #FCF8F0;
    margin: 5% auto;
}


.items {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
}