body {
    background-color: #FFFEF7;
}

#tuberose {
    position: relative;
    width: 95%;
    height: 100vh;
    background-color: #FFFEF7;
    margin: 1% auto;
}


.items {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border: 1px solid #FFEA00;
    background-color: #FFF7CC;
    border-radius: 40%;
}

.items1 {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border: 1px solid #FFC34D;
    background-color: #FFEACC;
    border-radius: 40%;
}