<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TUBEROSE</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/animetion.css">
    <link rel="stylesheet" href="tuberose.css">

</head>

<body>
    <div id="tuberose"></div>
    <script src="../../../animejs/anime.min.js"></script>
    <script src="tuberose.js" type="text/javascript"></script>
</body>

</html>