body {
    background-color: #FFF8F7;
}

#peach {
    position: relative;
    width: 80%;
    height: 95vh;
    background-color: #FFF8F7;
    margin: 5% auto;
}

.peachItem1 {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0.5px solid #FF908C;
}

.peachItem2 {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 0%;
    border: 0.5px solid #FF908C;
}