/* ----- index.html ----- */

body {}

#index-wrapper {
    background-color: #FBFBFB;
    width: 100%;
    height: 100vh;
    ;
}

#index-main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#index-img {
    width: 100%;
    height: 720px;
    background-image: url(../img/index-main.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
}

#index-logoname {
    margin: auto;
    text-align: center;
}

#index-logoname h2 {
    font-family: 'hwt-mardell', sans-serif;
    font-weight: 400;
    font-size: 96px;
    color: #FBFBFB;
    -webkit-text-stroke: 0.5px #3D3D3D;
}

#index-logoname p {
    font-family: 'hwt-mardell', sans-serif;
    color: #FBFBFB;
    font-size: 24px;
    padding-top: 32px;
    -webkit-text-stroke: 0.5px #3D3D3D;
}

/* ----- navmenu ----- */


#navmenu {
    position: absolute;
    z-index: 10;
    background-color: #FBFBFB;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    left: 100%;
}

#navmenu-header {
    display: flex;
    top: 0;
    width: 100%;
    height: 80px;
    position: relative;
}

#navmenu-header-logo {
    position: absolute;
    top: 0;
    left: 4%;
    line-height: 80px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'hwt-mardell', sans-serif;
    font-size: 32px;
}

.header-logo {
    color: #3D3D3D;
    position: absolute;
    top: 0;
    left: 4%;
    line-height: 80px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'hwt-mardell', sans-serif;
    font-size: 32px;
}

.fa-times-circle {
    font-size: 48px;
}

#navmenu.js-isOpen {
    left: 0%;
    top: 0%;
}

#navmenu.js-isClose {
    left: 100%;
    top: 0%;
}

#navmenu-wrapper {
    width: 100%;
    height: 100%;
}

#navmenu-main {
    display: flex;
    margin: 4% auto;
    justify-content: center
}

#navmenu-main-img {
    width: 100%;
    height: 100%;
    text-align: right;
}

#navmenu-main-text {
    width: 90%;
    height: 100%;
    display: block;
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 32px;
    margin: auto;
    color: #3D3D3D
}

#navmenu-main-text ul {
    width: 80%;
}

#navmenu-main-text ul li {
    margin: 24px auto;
    color: #3D3D3D
}


#navmenu-main-text ul li a {
    color: #3D3D3D;
}

#navmenu-main-text-icon {
    display: flex;
    font-size: 48px;
    width: 80%;
}

#navmenu-main-text-icon span {
    color: #3D3D3D;
    padding-right: 10%;
}

#navmenu-main-text-icon .nav-icons {
    color: #3D3D3D;
}

#navmenu-main-text .navmenu-main-logo {
    font-family: 'hwt-mardell', sans-serif;
    font-size: 64px;
    padding-bottom: 24px;
}

#navmenu-main-text .navmenu-main-name {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 12px;
    /* padding-left: 15%; */
}

#navmenu-main-text .navmenu-main-menu {
    padding-top: 8px;
    padding-bottom: 8px;
    /* padding-left: 15%; */
}

#navmenu-header span {
    position: absolute;
    right: 4%;
    top: 6%;
    line-height: 80px;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
}


.nav-icon {
    position: fixed;
    top: 3%;
    right: 3.2%;
    color: #3D3D3D;
    font-size: 24px;
    filter: drop-shadow(1px 2px 1px #3D3D3D);
    cursor: pointer;
}





/* ----- keywords ----- */

#keywords-body {
    background-color: #3D3D3D;
    color: #FBFBFB;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#keywords-header {
    display: block;
    top: 0;
}

#keywords-header-top {
    width: 100%;
    height: 80px;
    display: flex;
    box-sizing: content-box;
    position: relative;
}

#keywords-header-top-logo {
    line-height: 80px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'hwt-mardell', sans-serif;
    position: absolute;
    left: 4%;
    font-size: 32px;
}

#keywords-header-top-logoname {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    line-height: 80px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'hwt-mardell', sans-serif;
    margin: auto;
    text-align: center;
    font-size: 56px;
}

#keywords-header-top span {
    line-height: 80px;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    right: 4%;
    font-size: 32px;
    text-align: right;
    cursor: pointer;
}


#keywords-header-bottom {
    width: 40%;
    height: 5%;
    margin: auto;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    text-align: -webkit-center;
}

#keywords-header-bottom p {
    line-height: 40px;
    display: table-cell;
    vertical-align: middle;
}

#keywords-header-bottom p span {
    font-size: 12px;
    cursor: pointer;
}

#keywords-header-bottom p a {
    color: #FBFBFB;
}

#keywords-header-bottom-left {
    padding-left: 24px;
    padding-right: 16px;
}

#keywords-header-bottom-right {
    padding-left: 16px;
    padding-right: 24px;
}

#keywords-header-border {
    width: 100%;
    border: 0.8px solid white;
    margin: 12px auto 24px;
}

#keywords-main-wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
}

#keywords-main-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

#keywords-main-wrapper ul li {
    width: auto;
    line-height: 44px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'hwt-mardell', 'Nico Moji', sans-serif;
    font-size: 44px;
    margin: 16px 24px;
}

#keywords-main-wrapper ul li a {
    color: #FBFBFB;
}

#keywords-main-wrapper ul li a span {
    font-size: 24px;
}



/*  ------ category ------ */

#category-body {
    background-color: #3D3D3D;
    color: #FBFBFB;
}

#category-wrapper {
    display: block;
    position: relative;
    width: 100%;
}

#category-main {
    display: flex;
    -webkit-flex-wrap: wrap;
    /* Safari */
    flex-wrap: wrap;
    margin: 16px 16px;
    justify-content: center;
}

#category-main-bloc {
    display: block;
    padding: 8px 8px;
}

#category-main-bloc div {
    width: 104px;
    height: 104px;
    border: 1px solid;
    background-color: #FBFBFB;
}

#category-main-bloc p {
    color: #FBFBFB;
    font-size: 10px;
    width: 104px;
    -webkit-flex-wrap: wrap;
    /* Safari */
    flex-wrap: wrap;
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 8px;
}

#category-border {
    /* width: 95%;
    border: 0.8px solid #FBFBFB;
    margin: 24px auto 80px; */
}

#category-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
    border-top: 0.8px solid #FBFBFB;
    background-color: #3D3D3D;
}

#category-footer p {
    line-height: 80px;
    display: table-cell;
    vertical-align: middle;
}

#category-footer-logo {
    padding-left: 64px;
    font-family: 'hwt-mardell', sans-serif;
    font-size: 32px;
}

#category-footer-logoname {
    font-family: 'hwt-mardell', sans-serif;
    font-size: 56px;
}

#category-footer span {
    line-height: 80px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 64px;
    font-size: 32px;
}


@media screen and (max-width: 1024px) {

    #index-img {
        width: 100%;
        height: 100%;
        background-image: url(../img/index-main.JPG);
        background-repeat: no-repeat;
        background-attachment: fixed;
        align-items: center;
    }

    #index-logoname h2 {
        font-family: 'hwt-mardell', sans-serif;
        font-weight: 400;
        font-size: 36px;
        color: #FBFBFB;
        -webkit-text-stroke: 1px #3D3D3D;
    }

    #index-logoname p {
        font-family: 'hwt-mardell', sans-serif;
        color: #FBFBFB;
        font-size: 20px;
        padding-top: 24px;
        -webkit-text-stroke: 1px #3D3D3D;
    }

    #navmenu-header-logoname {
        display: none;
    }

    #navmenu-main-img {
        display: none;
    }

    #navmenu-main-text {
        width: 100%;
        height: 100%;
        display: block;
        text-align: left;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 32px;
        margin: 15% auto;
        text-align: center;
        color: #3D3D3D;
    }

    #navmenu-main-text ul {
        width: 100%;
    }

    #navmenu-main-text .navmenu-main-logo {
        font-family: 'hwt-mardell', sans-serif;
        font-size: 36px;
        padding-bottom: 16px;
        color: #3D3D3D;
    }

    #navmenu-main-text .navmenu-main-name {
        font-size: 16px;
        /* padding-top: 40px; */
        color: #3D3D3D;
    }

    #navmenu-main-text .navmenu-main-menu {
        padding-bottom: 8px;
        color: #3D3D3D;
    }

    #navmenu-header {
        display: flex;
        top: 0;
        width: 100%;
        height: 80px;
        margin: auto;
        position: relative;
    }

    #navmenu-main-text-icon {
        display: flex;
        font-size: 48px;
        width: 100%;
        justify-content: center;
    }

    #navmenu-main-text-icon span {
        padding: 5%;
    }



    #keywords-body {
        background-color: #3D3D3D;
        color: #FBFBFB;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    #keywords-header-top-logoname {
        display: none;
    }

    #keywords-header-top-logo {
        line-height: 80px;
        display: table-cell;
        vertical-align: middle;
        font-family: 'hwt-mardell', sans-serif;
        position: absolute;
        left: 4%;
        font-size: 24px;
    }

    #keywords-header-top span {
        line-height: 80px;
        display: table-cell;
        vertical-align: middle;
        position: absolute;
        right: 4%;
        font-size: 32px;
        text-align: right;
    }

    #keywords-header-bottom {
        display: none;
    }

    #keywords-header-border {
        width: 100%;
        border: 0.8px solid white;
        margin: 12px auto 16px;
    }

    #keywords-main-wrapper ul li {
        line-height: 40px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-family: 'hwt-mardell', 'Nico Moji', sans-serif;
        font-size: 40px;
        margin: 12px 12px;
    }

}