body {
    background-color: #FFF7F5;
}

#cinnammon {
    position: relative;
    width: 90%;
    height: 100vh;
    background-color: #FFF7F5;
    margin: 5% auto;
}

.items {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #B37059;
    border: 2px solid #802000;
    border-radius: 40%;
}

.items1 {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #EDAF9A;
    border: 1px solid #B37059;
    border-radius: 30%;
}