body {
    background-color: #FFFFF2;
}

#saffron {
    position: relative;
    width: 80%;
    height: 95vh;
    background-color: #FFFFF2;
    margin: 5% auto;
}

.items {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border: 1px solid #E67873;
}