body {
    background-color: #FFFEF7;
}

#neroli {
    position: relative;
    width: 90%;
    height: 100vh;
    background-color: #FFFEF7;
    margin: 5% auto;
}

.items {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #DDFF80;
}

.items1 {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border: 1px solid #FFE666;
}

.items2 {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #DDFF80;
}

.items3 {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border: 1px solid #FFE666;
}

.items4 {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #FFFF66;
}

.items5 {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #DDFF80;
}