body {
    background-color: #FFFDF2;
}

#neroli {
    position: relative;
    width: 80%;
    height: 95vh;
    background-color: #FFFDF2;
    margin: 5% auto;
}

.items {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #FFE666;
}

.items1 {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #FFE666;
}

.items2 {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #FFFF66;
}