body {
    background-color: #FDFFF5;
}

#patchouli {
    position: relative;
    width: 80%;
    height: 95vh;
    background-color: #FDFFF5;
    margin: 5% auto;
}


.items {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border: 1px solid #CCFF00;
}