body {
    background-color: #FEFFF5;
}

#magnolia {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #FEFFF5;
    margin: 0% auto;
}


.guitems {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
}