body {
    background-color: #F9FFF5;
}

#sage {
    position: relative;
    width: 80%;
    height: 95vh;
    background-color: #F9FFF5;
    margin: 5% auto;
}

.items {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border: 1.5px solid #C2FF99;
    background-color: #56A621;
}