body {
    background-color: #F9FFF5;
}

#sage {
    position: relative;
    width: 90%;
    height: 100vh;
    background-color: #F9FFF5;
    margin: 2% auto;
}

.items {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border: 1.5px solid #C2FF99;
    background-color: #56A621;
}