body {
    background-color: #FFFFF7;
}

#cedarwood {
    position: relative;
    width: 80%;
    height: 95vh;
    background-color: #FFFFF7;
    margin: 5% auto;
}

.items {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background-color: #636363;
}

.items1 {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background-color: #00733B;
}