body {
    background-color: #F9F7FF;
}

#iris {
    position: relative;
    width: 80%;
    height: 95vh;
    background-color: #F9F7FF;
    margin: 5% auto;
}

.items {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background-color: #D580FF;
    border-radius: 50%;
}

.items1 {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background-color: #8080FF;
    border-radius: 50%;
}