<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AromaAnimations</title>
    <link rel="stylesheet" href="https://use.typekit.net/ggh2yle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div id="random-wrpper">
        <div class="main-header">
            <p class="header-logo">A/A</p>
            <div class="header-icon">
                <i class="fas fa-bars"></i>
            </div>
        </div>

        <div id="navmenu">
            <div id="navmenu-header">
                <p class="header-logo">A/A</p>
                <span class="nav-icon">
                    <i class="fas fa-times-circle"></i>
                </span>
            </div>
            <div id="navmenu-main">
                <div id="navmenu-main-img">
                    <img src="../img/heart.png" alt="">
                </div>
                <div id="navmenu-main-text">
                    <ul>
                        <li class="navmenu-main-logo">AROMA ANIMATIONS</li>
                        <li class="navmenu-main-menu"><a href="aromaanimations.html"><span
                                    style="font-size: 24px">#</span>TOP</a></li>
                        <li class="navmenu-main-menu"><a href="keywords.html"><span
                                    style="font-size: 24px">#</span>KEYWORD</a></li>
                        <li class="navmenu-main-name">CREATED BY UMEGAKI YUKA</li>
                    </ul>
                    <div id="navmenu-main-text-icon">
                        <span>
                            <a href=""><i class="fab fa-twitter-square nav-icons"></i></a></span>
                        <span>
                            <a href=""><i class="fab fa-facebook-square nav-icons"></i></a></span>
                        <span>
                            <a href=""><i class="fab fa-instagram nav-icons"></i></a></span>

                    </div>
                </div>
            </div>
        </div>

        <div id="random-boxwrapper" class="js-gridWrapper">

            <div id="lemon" class="small-grid-item grid-item"><a href="../anime/lemon/lemon.html">LEMO</a></div>
            <div class="small-grid-item grid-item grid-menu">
                <p><a href="index.html">AROMAANIMATIONS</a></p>
            </div>
            <div id="pinkpepper" class="small-grid-item grid-item"><a
                    href="../anime/pinkpepper/pinkpepper.html">PINK</a></div>
            <div id="peach" class="small-grid-item grid-item"><a href="../anime/peach/peach.html">PEAC</a></div>
            <div id="grapefruit" class="small-grid-item grid-item"><a
                    href="../anime/grapefruit/grapefruit.html">GRAP</a></div>

            <div id="rose" class="small-grid-item grid-item"><a href="../anime/rose/rose.html">ROSE</a></div>

            <div id="magnolia" class="small-grid-item grid-item"><a href="../anime/magnolia/magnolia.html">MAGN</a>
            </div>
            <div id="violet" class="small-grid-item grid-item"><a href="../anime/violet/violet.html">VIOL</a></div>
            <div id="basil" class="small-grid-item grid-item"><a href="../anime/basil/basil.html">BASI</a></div>
            <div id="honeysuckle" class="small-grid-item grid-item"><a
                    href="../anime/honeysuckle/honeysuckle.html">SUCK</a></div>
            <div class="small-grid-item grid-item grid-menu">
                <p class=""><a href="keywords.html">#KEYWORD</a></p>
            </div>
            <div id="vanilla" class="small-grid-item grid-item"><a href="../anime/vanilla/vanilla.html">VANI</a>
            </div>
            <div id="figure" class="small-grid-item grid-item"><a href="../anime/figure/figure.html">FIGU</a></div>
            <div id="cardamon" class="small-grid-item grid-item"><a href="../anime/cardamon/cardamon.html">CARD</a>
            </div>

            <div id="clove" class="small-grid-item grid-item"><a href="../anime/clove/clove.html">CLOV</a></div>

            <div id="geranium" class="small-grid-item grid-item"> <a href="../anime/geranium/geranium.html">GERA</a>
            </div>
            <div id="patchouli" class="small-grid-item grid-item"><a href="../anime/patchouli/patchouli.html">PATC</a>
            </div>

            <div id="whitemusk" class="small-grid-item grid-item"><a href="../anime/whitemusk/whitemusk.html">WHIT</a>
            </div>
            <div id="jasmine" class="small-grid-item grid-item"><a href="../anime/jasmine/jasmine.html">JASM</a>
            </div>
            <div class="small-grid-item grid-item grid-menu">
                <span class=""><a href=""><i class="fab fa-facebook-square"></i></a></span>
            </div>
            <div id="oakmoss" class="small-grid-item grid-item"><a href="../anime/oakmoss/oakmoss.html">ORKM</a>
            </div>
            <div id="saffron" class="small-grid-item grid-item"><a href="../anime/saffron/saffron.html">SAFF</a>
            </div>
            <div id="neroli" class="small-grid-item grid-item"><a href="../anime/neroli/neroli.html">NERO</a></div>

            <div id="blackpepper" class="small-grid-item grid-item"><a
                    href="../anime/blackpepper/blackpepper.html">BLAC</a></div>
            <div id="ylangylang" class="small-grid-item grid-item"><a
                    href="../anime/ylangylang/ylangylang.html">YLAN</a></div>
            <div id="lime" class="small-grid-item grid-item"><a href="../anime/lime/lime.html">LIME</a></div>
            <div id="tuberose" class="small-grid-item grid-item"><a href="../anime/tuberose/tuberose.html">TUBE</a>
            </div>
            <div id="immortelle" class="small-grid-item grid-item"><a
                    href="../anime/immortelle/immortelle.html">IMMO</a></div>
            <div class="small-grid-item grid-item grid-menu">
                <span class=""><a href=""><i class="fab fa-twitter-square"></i></a></span>
            </div>
            <div id="sage" class="small-grid-item grid-item"><a href="../anime/sage/sage.html">SAGE</a></div>
            <div id="raspberry" class="small-grid-item grid-item"><a href="../anime/raspberry/raspberry.html">RASP</a>
            </div>
            <div id="lavender" class="small-grid-item grid-item"><a href="../anime/lavender/lavender.html">LAVE</a>
            </div>
            <div id="passionfruit" class="small-grid-item grid-item"><a
                    href="../anime/passionfruit/passionfruit.html">PASS</a></div>
            <div id="chocolate" class="small-grid-item grid-item"><a href="../anime/chocolate/chocolate.html">CHOC</a>
            </div>
            <div id="fennel" class="small-grid-item grid-item"><a href="../anime/fennel/fennel.html">FENN</a></div>
            <div id="orange" class="small-grid-item grid-item"><a href="../anime/orange/orange.html">ORAN</a></div>
            <div id="sandalwood" class="small-grid-item grid-item"><a
                    href="../anime/sandalwood/sandalwood.html">SAND</a></div>
            <div class="small-grid-item grid-item grid-menu">
                <span class=""><a href=""><i class="fab fa-instagram"></i></a></span>
            </div>
            <div id="lily" class="small-grid-item grid-item"><a href="../anime/lily/lily.html">LILY</a></div>
            <div id="iris" class="small-grid-item grid-item"><a href="../anime/iris/iris.html">IRIS</a></div>
            <div id="cinnammon" class="small-grid-item grid-item"><a href="../anime/cinnammon/cinnammon.html">cinn</a>
            </div>
            <div id="rosewood" class="small-grid-item grid-item"><a href="../anime/rosewood/rosewood.html">ROWO</a>
            </div>
            <div id="vetiver" class="small-grid-item grid-item"><a href="../anime/vetiver/vetiver.html">VETI</a>
            </div>
            <div id="bergamot" class="small-grid-item grid-item"><a href="../anime/bergamot/bergamot.html">BERG</a>
            </div>
            <div id="cedarwood" class="small-grid-item grid-item"><a href="../anime/cedarwood/cedarwood.html">CEDA</a>
            </div>
            <div id="blackcurrant" class="small-grid-item grid-item"><a
                    href="../anime/blackcurrant/blackcurrant.html">CURR</a></div>
            <div class="small-grid-item grid-item grid-menu main-footer">
                AROMA ANIMATIONS || Created By UMEGAKIYUKA
            </div>
            <div></div>
        </div>
        <script src="../../animejs/anime.min.js"></script>
        <script src="../js/common.js"></script>
        <script src="../js/aromaanimations.js"></script>
</body>

</html>