<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AromaAnimations-category</title>
    <link rel="stylesheet" href="https://use.typekit.net/ggh2yle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body id="category-body">
    <div id="category-wrapper">
        <div id="category-main">
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>プチシェリー</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>オーダドリアン</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>ローズアブソリュ</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>アンマタンドラージュ</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>ル シェブルフイユ</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>ラ バイオレット</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>ヴァニーユ エキスキーズ</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>ニンフェオミオ</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>ウードレザー</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>ウードセンス</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>ウードローズペタル</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>シプルフルーツ</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>ホワイトムスク</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>クリスタルフラワー</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>サンドフラワー</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>ROSE ANONYME</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>JASMIN ANGELIQUE</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>CHLOE LOVE STORY</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>VETIVER</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>EROLFA</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>HIMALAYA</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>FLEURISSIMO</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>DAISY</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>トロピカルアンバー</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>ライトセルリアン</a></p>
            </div>
            <div id="category-main-bloc">
                <div></div>
                <p><a href="" style="color:#FBFBFB"><span style="font-size: 8px">#</span>クリムゾン</a></p>
            </div>

        </div>
        <div id="category-border"></div>
        <div id="category-footer">
            <p id="category-footer-logo">A/A</p>
            <p id="category-footer-logoname">Aroma Animations</p>
            <span>
                <i class="fas fa-bars"></i>
            </span>
        </div>
    </div>
</body>

</html>