<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AromaAnimations</title>
    <link rel="stylesheet" href="https://use.typekit.net/ggh2yle.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div id="index-wrapper">
        <div id="index-main">
            <div id="index-img"></div>
            <div id="index-logoname">
                <h2>Aroma<br>
                    Animations</h2>
                <p>BY UMEGAKI YUKA</p>
            </div>
        </div>

    </div>
</body>

</html>