<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AromaAnimations-random</title>
    <link rel="stylesheet" href="https://use.typekit.net/ggh2yle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div id="random-wrpper">
        <div id="random-header">
            <p>A/A</p>
            <span>
                <i class="fas fa-bars"></i>
            </span>
        </div>
        <div id="random-boxwrapper">
            <div id="box1">1</div>
            <div id="box2">2</div>
            <div id="box3">3</div>
            <div id="box4">4</div>
            <div id="box5">5</div>
            <div id="box6">6</div>
            <div id="box7">7</div>
            <div id="box8">8</div>
            <div id="box9">9</div>
            <div id="box10">10</div>
            <div id="box11">11</div>
            <div id="box12">12</div>
            <div id="box13">13</div>
            <div id="box14">14</div>
            <div id="box15">15</div>
            <div id="box16">16</div>
            <div id="box17">17</div>
            <div id="box18">18</div>
            <div id="box19">19</div>
            <div id="box20">20</div>
        </div>
    </div>
</body>

</html>