body {
    background-color: #FEFFF5;
}

#bergamot {
    position: relative;
    width: 80%;
    height: 95vh;
    background-color: #FEFFF5;
    margin: 5% auto;
}


.items {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border: 0.5px solid #E6FF99;
}