body {
    background-color: #FFF8F7;
}

#raspberry {
    position: relative;
    width: 80%;
    height: 95vh;
    background-color: #FFF8F7;
    margin: 5% auto;
}

.items {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border: 1px solid #D90B00;
    background-color: #F2A29D;
}

.items1 {
    position: absolute;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border: 1px solid #F2A29D;
    background-color: #FFDBD9;
    border-radius: 50%;
}

.items2 {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border: 1, 5px solid #FFDBD9;
    background-color: #D90B00;
    border-radius: 30%;
}