body {
    background-color: #FFF8F7;
}

#raspberry {
    position: relative;
    width: 95%;
    height: 100vh;
    background-color: #FFF8F7;
    margin: 2% auto;
}

.items {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border: 1.5px solid #990800;
    background-color: #F2A29D;
}

.items1 {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border: 1px solid #F2A29D;
    background-color: #FFDBD9;
    border-radius: 50%;
}

.items2 {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border: 1, 5px solid #FFDBD9;
    background-color: #D90B00;
    border-radius: 50%;
}