body {
    background-color: #FFF5F7;
}

#blackcurrant {
    position: relative;
    width: 95%;
    height: 100vh;
    background-color: #FFF5F7;
    margin: 1% auto;
}

.items {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    border: 2px solid #FF002B;
}

.items1 {
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #0E0054;
}