body {
    background-color: #FFF5F7;
}

#blackcurrant {
    position: relative;
    width: 80%;
    height: 95vh;
    background-color: #FFF5F7;
    margin: 5% auto;
}

.items {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border: 2px solid #FF002B;
}

.items1 {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background-color: #0E0054;
}