body {
    background-color: #E3FFEC;
}

#basil {
    position: relative;
    width: 80%;
    height: 95vh;
    background-color: #E3FFEC;
    margin: 5% auto;
}

.items {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
}

.items1 {
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 32px;
}